[2019-03-19 00:04] jdegoes opened #1 "Consider using `interruptible`"
Instead of:

[code]

Consider:

[code]

Both will be placed on the blocking thread pool, but the latter can be interrupted.

[2019-04-29 20:08] iravid commented on #1
@jdegoes Good point! The Kafka consumer can handle thread interruptions, but the docs recommend that `consumer.wakeup()` be used.

So I've used the following effect import function:
[code]

The producer, however, can be interrupted with `Thread.interrupt` but presents an interesting usecase not covered by `effectBlocking` - a blocking function that completes asynchronously. Here's how it is going

[2019-04-29 20:11] iravid opened #3 "Setup CI and publishing"
@NeQuissimus do we have a project structure I could use for this? I know my way around CircleCI so you could throw the general instructions at me :-)

[2019-04-30 12:22] NeQuissimus commented on #3
See zio/zio-actors#23
I gave you the same ENV.
See https://github.com/NeQuissimus/zio-slf4j/commit/7b415e760b7ac23c1d5bd54b5b8b9aa2e19b86fc for how to make it work.

[2019-04-30 12:48] iravid commented on #3
That's great. Thanks!

[2019-05-05 01:34] ghostdogpr opened #5 "Add README with basic instructions"

[2019-05-05 18:21] #3 closed

[2019-05-05 18:32] iravid opened #6 "Add basic integration tests"
The tests should exercise the consumer and producer APIs against a local Kafka instance.

Two options to provide the Kafka instance required for the tests:
- launch Zookeeper and Kafka containers as secondary containers before the test commands in the CircleCI config (see https://circleci.com/docs/2.0/configuration-reference/#docker)
- use https://github.com/embeddedkafka/embedded-kafka to run Kaf

[2019-05-05 19:57] NeQuissimus commented on #6
Could also use https://github.com/testcontainers/testcontainers-Java but I prefer embedded-Kafka. (although I am biased, of course)

[2019-05-06 03:03] iravid opened #8 "Add a ZIO Streams-based interface for interacting with the consumer"
For starters, we need an interface that will allow consuming the consumer's data as a `StreamChunk[Throwable, Record[K, V]]`, where `Record` is something like:
[code]

An important part for achieving good throughput is decoupling the consumption from processing:
- The consumer must be polled in a separate fiber from the rest of the stream with the data transferred to the stream via a bounded queue

[2019-05-06 08:15] pierangeloc commented on #6
I have some experience with embedded-kafka so I would go for that
Is there a standard library for testing that should be used in ZIO projects (testz or specs2)? If not, what should we use?

[2019-05-06 09:43] iravid commented on #6
No strong opinions here, I’m fine with either. Whatever you’re comfortable with.

[2019-05-06 15:35] NeQuissimus opened #9 "Handle messages that the Serde cannot deserialize"
Kafka Streams has a global "Exception handler" for messages that could not be deserialized or otherwise triggered exceptions.
We should somehow have something like that, otherwise a single misformatted message will rip down the app too easily (or one would have to always be aware of this happening).

In order to reduce boilerplate on the implementer's side, we should find some nice way to handle "

[2019-05-06 20:13] pierangeloc commented on #6
👍 I can start working on this

[2019-05-07 07:23] iravid commented on #9
@NeQuissimus when using the `LogAndContinueExceptionHandler`, does Kafka Streams commit the offset properly even though the message was dropped?

[2019-05-07 11:46] NeQuissimus commented on #9
Yes, definitely. At work, I actually created a custom handler that puts invalid messages on a separate topic.

[2019-05-16 23:34] thiloplanz commented on #8
Is this still an issue? Recent versions of the Kafka client [periodically send a heartbeat](https://cwiki.apache.org/confluence/display/KAFKA/KIP-62%3A+Allow+consumer+to+send+heartbeats+from+a+background+thread) to the brokers that is decoupled from applications calling `poll()`, so that they should not get removed as long as the consumer is still open, even when they stop polling.

[2019-06-03 11:25] iravid commented on #6
Resolved by #10

[2019-06-03 11:25] #6 closed

[2019-06-04 08:37] ghostdogpr commented on #1
@iravid is it really blocking? According to the [javadoc](https://kafka.apache.org/22/javadoc/index.html?org/apache/kafka/clients/producer/KafkaProducer.html), `The send is asynchronous and this method will return immediately once the record has been stored in the buffer of records waiting to be sent. This allows sending many records in parallel without blocking to wait for the response after each

[2019-06-04 08:56] iravid commented on #1
Yes, normally it won’t block, but when the producer’s buffer is full (due to e.g. broker issues), send will block until the record can be stored in the buffer.
On 4 Jun 2019, 11:37 +0300, Pierre Ricadat <notifications@github.com>, wrote:

[2019-06-04 09:07] ghostdogpr commented on #1
Indeed, it's quite hidden in the doc but `When the buffer space is exhausted additional send calls will block.` 😢

[2019-06-04 09:47] iravid commented on #1
@ghostdogpr I do realize though that we should have a `sendChunk(c: Chunk[Record])` method to amortize the cost of `effectBlocking`.

[2019-06-04 09:48] iravid opened #11 "Add `sendChunk` to the Producer"
Signature: `def produceChunk(records: Chunk[ProducerRecord[K, V]]): BlockingTask[RecordMetadata]`.

[2019-06-10 06:07] thiloplanz commented on #8
It is indeed.

The Kafka client can be configured with a `max.poll.interval.ms` that can be set quite high (without affecting the liveness check), but you still have to poll at least once in each of these intervals.

So yes, if the queue gets full, the consumer needs to be `pause()`d, and it has to continue to `poll()` while it is paused.

:-/

On the plus side, if we can get this right, it would

[2019-06-12 07:52] tuleism commented on #8
@iravid Correct me if I'm wrong: here I see `applyRebalanceEvents` is being applied after a `poll`. Only at this point, it `.complete` the processing queue for a revoked `TopicPartition`. So both message processing and offset committing can still happen shortly after this point? If this `TopicPartition` is not assigned to the consumer anymore, it will still process messages and commit offsets unti

[2019-06-13 06:52] iravid commented on #8
Hi @tuleism, you're right - handling the rebalance events should happen before the poll has finished, and the linked implementation is flawed in that regard. Note that it doesn't allow for a user-defined rebalance listener and therefore doesn't allow for committing before a partition is revoked. If it would, we'd have to implement it as you mention.

Another point is that the Kafka consumer would

[2019-06-23 23:20] NeQuissimus opened #15 "Cover all features of Kafka Streams"
This should be the first goal here, I believe.

Since I work with Kafka Streams quite frequently, let me brain-dump what we will need to achieve parity:

- [x] Stream source that wraps Kafka consumers (needs to support consumer groups and hence partition assignments but that should be dealt with in the consumer code itself already)
- [ ] Stream sink that wraps Kafka producers
- [x] Stream sources

[2019-06-27 07:27] thiloplanz commented on #15
This is a duplicate (or a follow-up, if you consider the `KTable` stuff -- maybe that should be a separate ticket ) of #8

And yes, being able to use Kafka via ZIO Streams without having to learn Kafka Streams would be awesome.

[2019-07-21 22:38] softinio opened #17 "Add release to sonatype/maven to build process and do a release"

[2019-07-26 12:36] iravid commented on #11
Resolved in #14

[2019-07-26 12:36] #11 closed

[2019-09-15 07:45] #8 closed

[2019-09-20 06:09] iravid opened #21 "Add a diagnostics interface for the consumer"
We don’t want to depend on any logging libraries, but we want to output diagnostics if the user chooses to.

The idea is to create a `DiagnosticEvent` ADT, and a `Diagnostics` service which has an `emit: DiagnosticEvent => UIO[Unit]` function.

We will depend on this service in the run loop and emit diagnostics through it. Two implementations will be provided: a no-op implementation and a sliding

[2019-09-26 11:38] svroonland commented on #15
Are we talking about [Kafka Streams](https://kafka.apache.org/documentation/streams/) or [Alpakka Kafka](https://doc.akka.io/docs/alpakka-kafka/current/home.html)?

The former does a lot more than the latter, also offering stuff like sliding/tumbling windows, durably stored locally and on the Kafka server.

[2019-09-26 14:32] andreamarcolin commented on #21
@iravid I would love to try to tackle this if you are not already working on it or planning to do so in a few days, otherwise I will just leave it to you :) Maybe this can be a good opportunity to get some familiarity with the project :)

[2019-09-27 14:45] iravid opened #24 "Build for 2.13"
Kafka and Embedded Kafka aren't built for 2.13, so we'll need to think what to do there. Maybe not run tests on 2.13.

This could be a good reason to running Kafka on a separate JVM.

[2019-09-27 14:49] ghostdogpr commented on #24
I recall they’ve done it in master, just waiting for the next release which should happen in October.
 Source: https://github.com/apache/kafka/pull/6989#issuecomment-508228402

[2019-09-27 14:50] iravid commented on #24
Ah cool. Thanks Pierre

[2019-09-27 15:04] andreamarcolin commented on #21
@iravid Can you give some advice on what events are we interested in from the runloop and maybe clarify what you would expect from the sliding queue implementation? I mean, should the user provide a function to handle the events taken out from the queue (e.g. to enable printing to an external logger) or should we directly print to stdout?

[2019-09-27 18:13] iravid commented on #17
We're all good!

[2019-09-27 18:13] #17 closed

[2019-09-27 20:09] iravid opened #27 "Add nicer constructors for the `Subscription` terms"
[code]

[2019-09-27 20:16] iravid opened #28 "Add a nicer constructor for subscribe-then-stream"
The following should be possible:
[code]

[2019-09-27 20:18] iravid commented on #5
Added!

[2019-09-27 20:18] #5 closed

[2019-09-27 20:18] iravid commented on #1
Alright, so this is covered.

[2019-09-27 20:18] #1 closed

[2019-09-27 20:48] iravid opened #29 "Add a way to gracefully shutdown an open stream"
Ideally, this would allow to somehow drain the stream until all already-fetched records have been processed and then close.

[2019-09-27 20:50] iravid opened #30 "Stop using Kafka's Serde and add a real, composable Serializer/Deserializer"
We should hardcode the consumer to `K = Array[Byte]` and `V = Array[Byte]`, and provide data types that describe serialization/deserialization to and from byte arrays.

These data types should also be derivable from Kafka's existing `Serde` to ease migration.

As part of moving to these codecs, we should consider what interface to provide on the consumer for handling de/serialization failures. It'

[2019-09-27 20:57] iravid commented on #9
Closing in favor of #30

[2019-09-27 20:57] #9 closed

[2019-09-27 21:05] iravid commented on #21
Interesting events off the top of my head:
- rebalances
- commits
- requests for partitions
- polls - which partitions were requested, which got data and which did not

For the sliding queue diagnostics constructor, we should create a function that returns a sliding queue wrapped in a case class that implements the diagnostics interface. That case class can be used both for `provide` on the consum

[2019-09-27 21:18] iravid opened #31 "Add a microsite"

[2019-09-28 08:32] iravid opened #32 "Add a pre-defined sink on the Consumer object that batches offsets"
And expand the quickstart example in the README.md to include using it with `ZStream#aggregate`.

[2019-09-28 08:42] iravid opened #33 "Add support for exactly-once messaging"
I've never used that feature of Kafka, so if anyone's knowledgeable about this, feel free to chime in and describe what's needed.

[2019-09-28 08:44] iravid opened #34 "Add a sink that wraps the producer"

[2019-09-28 08:47] svroonland commented on #34
Was already playing with this a bit, happy to pick it up

[2019-09-28 10:48] iravid opened #36 "Investigate support for stateful stream processing"
This has several parts:
- abstractions for describing a table created from a stream
- mechanisms for persisting state (in-memory / on disk)
- a RocksDB wrapper and implementation
- combinators for joining and aggregating streams and tables

This is a pretty big chunk of work and could possibly be out of scope for this project. It should, at the very lease, end up in a separate module.

[2019-09-28 11:31] adamgfraser commented on #29
I would like to work on this.

[2019-09-28 11:49] iravid commented on #15
I opened separate tickets for the pending items on this ticket, so closing this one out. Thanks for enumerating these @NeQuissimus!

[2019-09-28 11:49] #15 closed

[2019-09-28 15:01] iravid commented on #29
Awesome, thanks @adamgfraser! I haven't yet thought through what changes are needed for this feature and how is it going to look.

Have a look at the codebase and let me know if you have any thoughts.

[2019-09-28 15:01] svroonland commented on #30
I can see three desirable ways of handling deserialization failures:
1. Fail the stream
2. Skip the message
3. Allow the client to handle it explicitly

1 should be easy (already the case?)
3 can be done by sending `Either`s like you mentioned.
Maybe 2 can be implemented with some sort of `onDeserializationError: DeserializationFailure => UIO[Unit]`  parameter on the `plainStream` and `partitioned

[2019-09-29 04:41] hamednourhani commented on #31
Hi @iravid can I start with this one with some guid from you?

[2019-09-29 14:37] iravid commented on #31
@hamednourhani Thanks for picking this up! I'd love to offer guidance but I'm not very knowledgeable about infrastructure for microsites.

Maybe you could look into how it is configured on ZIO? Or perhaps @softinio could offer guidance as well?

[2019-09-29 14:40] iravid commented on #34
Done in #35.

[2019-09-29 14:40] #34 closed

[2019-09-29 17:01] hamednourhani commented on #31
Ok I will try to do it

[2019-09-29 17:06] softinio commented on #31
@hamednourhani it would be great if you can start by creating the content for the microsite first. Create a folder calls `docs` in the project and create a markdown file for each page of the microsite.

Once you are done with the content I can help you organize it. Look at ZIO `docs` folder for inspiration.

Maybe split this work into two PRs:

- Content
- Setting up the microsite using mdoc and D

[2019-09-29 21:12] hamednourhani commented on #31
Thanks @softinio for your help. I will start by docs PR at first 👍

[2019-09-29 21:18] hamednourhani commented on #31
@iravid just one question . Which pages we need to creat at first with menus?

[2019-09-29 22:30] neko-kai commented on #24
@iravid
Could we use `docker-compose` for testing?

[2019-09-30 05:49] pgabara commented on #27
Hi @iravid, Can I take it?

[2019-09-30 06:22] iravid commented on #27
All yours @pgabara, thanks!

[2019-09-30 18:49] iravid commented on #24
Yeah totally @neko-kai. At the cost of more memory overhead due to 2 additional JVMs running but totally possible.

If 2.13 is coming in October though it might be easier to wait for that.

[2019-09-30 21:43] adamgfraser commented on #29
@iravid What if in `Consumer#make` we used `ZManaged#withEarlyRelease` on `ConsumerAccess`, `RunLoop.Deps`, and `Runloop` to get their respective `release` actions? Then we could take all of those effects and store them in a new private field in `Consumer`. And we could expose a new method `Consumer#close` that would invoke the respective release actions and return the already fetched records?

[2019-10-01 05:18] #27 closed

[2019-10-01 14:32] sebver opened #39 "Sporadically receiving "Received unexpected records from Kafka for partitions""
When consuming a topic I sometimes receive the following exception:
[code]

This causes the stream to stop processing. There was a similar issue once in fs2-kafka: https://gitter.im/ovotech/fs2-kafka?at=5d67f3f506e77851a3122b97

[2019-10-01 19:55] #39 closed

[2019-10-01 20:46] mijicd commented on #36
I would like to jump in on this one if no one's already working on it. Most likely it'll need some split(s), but we can update this issue for start.

[2019-10-02 12:55] iravid commented on #36
Awesome, thanks @mijicd!

[2019-10-02 19:50] svroonland opened #42 "Handle RetriableCommitFailedException"
In my experience commits sometimes fail because of some temporary situation, like a network timeout. Kafka will then throw a `RetriableCommitFailedException`. This should not fail the consumer.

We should probably handle this in the callback passed to `commitAsync` in the `RunLoop`

[2019-10-02 19:53] iravid commented on #42
Failed commits will not fail the runloop; the failure will be passed back to the caller of `OffsetBatch#commit`. The alternative is to bake in a `Schedule` that will be used for retrying commits in the runloop, but I feel that is best delegated to the caller.

What do you think?

[2019-10-02 20:03] svroonland commented on #42
That makes sense, to leave it to the caller. Might be good to add it as a recommendation in the docs somewhere, and it would be nice to have that behavior in `consumeWith`.

[2019-10-02 20:08] iravid commented on #42
👍

[2019-10-03 10:29] andreamarcolin commented on #28
I'll take this :)

[2019-10-03 19:17] adamgfraser commented on #29
@iravid Does this approach make sense to you?

[2019-10-03 19:33] iravid commented on #29
Hey @adamgfraser, sorry I missed this. I think we need something a bit more involved bere.

As a user of the library I'd like to stop consumption of new records from outside (because, e.g., we received a SIGTERM) and wait for all the open streams to end, so that all in-flight records have been processed and committed.

To do this as a user I think needs two parts:
- book-keeping in the runloop tha

[2019-10-04 20:07] rudolfduplessis opened #46 "Enable user registration of a rebalance listener"
KafkaConsumer takes a rebalance listener on topic subscription. I think it's wise to follow the usage semantics in this case. I'm thinking something in the line of:

def myRebalanceListener(rebalance: Rebalance): ZIO[Any, Nothing, Unit]
consumer.subscribe(Subscription.topics("my-input-topic"), myRebalanceListener)

subscribe method could be overloaded or given a ZIO.succeed as default for the none

[2019-10-05 11:12] andreamarcolin commented on #32
Will take this too

[2019-10-07 09:30] iravid commented on #32
Resolved by #48

[2019-10-07 09:30] #32 closed

[2019-10-07 09:31] iravid commented on #30
Resolved by #37. I'll open a follow-up for the failure handler

[2019-10-07 09:31] #30 closed

[2019-10-07 09:31] iravid opened #50 "Add a failure handler for serde"
In @svroonland's words:
[code]

[2019-10-07 09:32] iravid commented on #28
Resolved by #47

[2019-10-07 09:32] #28 closed

[2019-10-07 09:32] iravid commented on #21
Resolved by #43

[2019-10-07 09:32] #21 closed

[2019-10-07 20:56] hamednourhani commented on #31
@softinio hi.as I know little about the project . If somebody else can start it better can help or get this issue from me.

[2019-11-07 10:00] TimPigden commented on #31
I'm willing to do some work on this, as blogging / building test usage for zio-kafka is my new project (I need it for work). I'm happy to do pages as md in a docs folder but you'll have to put up with my writing style (which some might find a bit ponderous). Also I've been running/developing code in parallel to the blog and I'm not sure where that would go if here (I can keep it in my github and j

[2019-11-08 08:28] TimPigden opened #57 "update tests to zio-test"
I'm volunteering to do this. I'll build a couple of doc pages around them at the same time - could be useful. @iravid  any reason not to do this?

[2019-11-08 08:31] iravid commented on #57
Thanks @TimPigden! Would be great to have the tests ported to zio-test.

[2019-11-08 08:32] iravid commented on #31
@TimPigden Adding a few md files in a docs folder would be a great start. Someone will eventually pick them up and make a microsite out of them :-)

[2019-11-08 14:46] svroonland commented on #50
Was thinking about this one a bit more. I personally don't like a sort of "registerExceptionHandler" or adding a parameter `onDeserializationError` to `plainStream`. Would it be sufficient to do the following:

* Fail the stream on deserialization errors by default (current behavior)
* Clients that want to skip non-deserializable messages can use the existing `Deserializer.asTry` in combination wi

[2019-11-11 14:31] TimPigden opened #61 "a home for test utils?"
adapting the tests for zio-test showed a need for non-trivial support methods to provide a proper providedManagedShared environment for running the tests. It's hard to see how anyone using the library and zio-test will not have the same issues. For example, practically everything needs the live clock.
Is there a place for some sort of kafka-test-util?

[2019-11-12 13:46] TimPigden opened #62 "add AdminClient"
wrap adminClient from java with zio.

[2019-11-12 14:05] TimPigden opened #64 "probable concurrency bug using multiple consumers"
This can be demonstrated on PR labelled Client Admin

To reproduce, edit in tests zio.kafka.client.EmbeddedMultiConsumerTest
change the test in the list from testMultipleConsumers to testParallelConsumers

On my system it will hang without returning almost all the time but not all the time.
Code for testMultipleConsumers is:
[code]
For testParallelConsumers I simply change collectAll to collectAll

[2019-11-12 14:08] TimPigden commented on #31
Hi @iravid I made a start but decided to hold up until my revised test framework PR is approved because all code samples require that and if there are major changes needed I'd hate to have to rewrite that lot
wip in Client Admin pr

[2019-11-13 11:11] svroonland commented on #64
The failing test has to do with how Kafka treats multiple consumers in the same consumer group.

When you have multiple active consumers with the same group ID, Kafka will divide the partitions over them. For each consumer that gets added to the group, the partitions are rebalanced. Since you start the consumers in parallel, it is non-deterministic which consumers get which partition and at which

[2019-11-13 11:14] iravid commented on #64
Thank you for diagnosing @svroonland!

[2019-11-13 11:15] TimPigden commented on #64
awesome! I'll update the tests in the PR and resubmit with this in

[2019-11-13 11:15] #64 closed

[2019-11-13 11:40] svroonland opened #65 "Document the use Diagnostics"

[2019-11-18 22:01] adamgfraser commented on #61
@TimPigden One thing that might be worth thinking about here is if you want to do something like:

[code]

Right now you are using `DefaultRunnableSpec` which provides a `TestEnvironment`, so you need to use `provideManagedShared` to build an environment that also has the Kafka service (you can probably make this a little more efficient now that RC17 is out using `provideSomeManagedShared`). This

[2019-11-19 19:20] #29 closed

[2019-11-20 16:22] svroonland opened #83 "Polling new data for partitions when no demand"
Calls to poll will return up to max_poll_records records from the latest consumed offset. If we have a topic with a large number of unconsumed messages and a slow consumer that cannot keep up, the Runloop will keep on fetching new records and buffering them. This results not only in unnecessary network traffic and load on the Kafka broker but possibly also to OOM.

See for a test case that shows t

[2019-11-20 16:23] svroonland commented on #83
What I don't understand is why this line keeps on printing in my test case:
https://github.com/zio/zio-kafka/pull/82/files#diff-3a0c71672465dc777ac3e82e57716a8aR184

[2019-11-21 10:53] #62 closed

[2019-11-21 10:53] TimPigden commented on #62
duplicated #63

[2019-11-21 10:56] TimPigden commented on #57
while I could close this - I'll leave it open as changes to zio-test in RC17 mean that these could be further streamlined - plus @adamgfraser 's suggestion for mods in #61
I'll take this when I get back to documenting the tests in md

[2019-11-25 11:00] svroonland commented on #83
Issue fixed with #82

[2019-11-25 11:00] #83 closed

[2019-11-28 16:37] lvitaly commented on #24
@iravid new tentative release date is Nov 30. possibly 2.13 is coming soon.
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=125307901

Alpakka is already using Kafka 2.4.0-RC1 for there future release.
https://github.com/akka/alpakka-kafka/pull/971

Maybe it would be possible to adopt RC1 too?

[2019-11-28 18:13] iravid commented on #24
PRs welcome!
On 28 Nov 2019, 18:37 +0200, Vitalii <notifications@github.com>, wrote:

[2019-12-02 11:45] TimPigden commented on #57
actually that's RC18

[2019-12-02 11:50] TimPigden opened #93 "Add module pattern and service for AdminClient"
I want to pass adminclient around as an environment service and since it's a fairly heavy-weight object it seems the sensible way to do it.
I can make the additions in the  AdminClient.scala file without causing any problems I think

[2019-12-02 11:51] iravid commented on #93
We should do that for the Consumer and Producer as well. If possible, in a way that is not intrusive - that is, non-module usage is still unaffected.

[2019-12-02 12:01] TimPigden commented on #93
I thought of that, but do they get passed around in the same way? I've only ever declared and used them in a single spot (though I've only just started doing "real" kafka stuff). So I don't think I'm qualified to figure what it should look like.
For the AdminClient I was going to create a KafkaAdmin service so there was no name clash and use the current AdminClient case class as an implementation

[2019-12-05 11:20] TimPigden commented on #93
done and merged

[2019-12-05 11:20] #93 closed

[2019-12-05 11:29] TimPigden opened #95 "update tests to reflect changes to test environment in master"
firstly the trivial - change to new DefaultRunnableSpec
secondly, change the KafkaTestUtils to reflect Adam's latest changes
https://github.com/zio/zio/pull/2397#pullrequestreview-326232451

I will have this working in my spliced master - but it won't do scala 2.13 since I'm using older kafka client (2.3.1) not 2.4 because of my confluent requirements

[2019-12-05 12:18] adamgfraser commented on #95
Would also be good to try using `provideSomeManagedShared` instead of `provideManagedShared` and seeing it that helps you clean things up a little.

[2019-12-05 12:23] TimPigden commented on #95
yes. Working on tidying up atm - may need some help :-)

On Thu, 5 Dec 2019 at 12:18, Adam Fraser <notifications@github.com> wrote:

--
Tim Pigden
Optrak Distribution Software Limited
+44 (0)1992 517100
http://www.linkedin.com/in/timpigden
http://optrak.com
Optrak Distribution Software Ltd is a limited company registered in England
and Wales.
Company Registration No. 2327613 Registered Offices: Su

[2019-12-05 15:44] TimPigden commented on #95
ok, done this. Can't do a pr because of the issues with versions etc but will do so post RC18 and when we decide about confluent's requirement for 2.3.1

[2019-12-09 15:07] svroonland commented on #46
I think this functionality is covered by `Diagnostics`, which was merged in #43  just before #51 was opened. Would you agree, @rudolfduplessis ?

[2019-12-09 15:08] svroonland commented on #42
This was implemented in #81. Shall we close it @iravid ?

[2019-12-09 15:27] rudolfduplessis commented on #46
I see yes. Judging by my first comment ("//or diagnostics emit when that's merged") I think I didn't exactly have the whole picture at that time. I'm sure if there's nothing else we close this and I'll remove the pull request. Sorry haven't had time to pay attention to this for a while.

[2019-12-10 08:07] svroonland commented on #46
Ah, I didn't see the diagnostics emit comment.

No worries.

Alright, will close this issue.

[2019-12-10 08:07] #46 closed

[2019-12-20 18:35] svroonland opened #102 "Support external offset retrieval"
Currently partitions will be consumed from the latest offset stored in Kafka. We should also support a way to get offsets from an external source.

[2019-12-20 18:36] svroonland commented on #102
Working on this one currently

[2019-12-20 18:45] iravid commented on #102
Thanks, this really is an important usecase.

[2019-12-23 19:42] svroonland commented on #42
I'll take that as a yes :)

[2019-12-23 19:42] #42 closed

[2020-01-01 13:11] svroonland opened #106 "Modules for the Consumer and Producer"
Implement modules (see https://zio.dev/docs/howto/howto_use_module_pattern) for the `Consumer` and `Producer`. This helps to integrate them into larger ZIO applications and for testing/mocking.

See also #93  and #94 for an example

[2020-01-05 13:21] svroonland commented on #102
Implemented by #104

[2020-01-05 13:21] #102 closed

[2020-01-05 13:22] svroonland commented on #50
Implemented in #89

[2020-01-05 13:22] #50 closed

[2020-02-16 10:27] iravid commented on #95
I've updated the tests so this can now be closed.

[2020-02-16 10:27] #95 closed

[2020-02-16 10:29] iravid commented on #57
Thank you @TimPigden for porting the tests!

[2020-02-16 10:29] #57 closed

[2020-02-16 10:30] iravid commented on #24
We're now building and publishing for 2.13.

[2020-02-16 10:30] #24 closed

[2020-02-16 10:31] iravid opened #122 "Setup benchmarks"
I've recently ran into some performance issues with the library, so this would be a good time to setup benchmarking infrastructure and benchmarks. Comparisons should be done with the plain Kafka consumer/producer and Alpakka Kafka.

[2020-02-18 10:38] cheatmenot opened #123 "is Transactional Producer supported in this project?"
is Transactional Producer semantics is supported here? if yes, can you give me example? Thanks!

[2020-02-19 07:34] iravid commented on #123
@cheatmenot Not yet. You can enable producer idempotence by passing `enable.idempotence = true` to the `ProducerSettings`, but transactions are not yet natively supported by the project.

I personally do not use these features, so contributions very welcome.

[2020-02-19 07:34] iravid commented on #123
Closing as duplicate of #33.

[2020-02-19 07:34] #123 closed

[2020-02-23 12:38] marcins83 opened #126 "Handle java.lang.IllegalStateException: No current assignment for partition"
Sometimes, I am getting IllegalStateException and consumer stop feeding from Kafka.
Stacktrace:
[code]

Code:
[code]

[2020-02-25 12:55] svroonland commented on #126
@marcins83 Are you running this with a consumer group of 1 or are there multiple consumers? I have a possible explanation of the bug but it would only occur under consumer group rebalancing.

[2020-02-25 18:15] marcins83 commented on #126
@svroonland I have multiple consumers in one group. It is happening exactly consumer group rebalancing.

[2020-02-27 16:34] svroonland commented on #126
Alright. I have a suspicion what's causing it, will work on a fix.

[2020-03-02 09:13] svroonland commented on #126
I've been staring at it for a good while, but so far haven't discovered a code path that can trigger this error yet.

[2020-03-06 08:26] #126 closed

[2020-03-06 08:30] svroonland commented on #126
Any idea what caused this condition to appear @iravid ?  I couldn't figure it out

[2020-03-06 08:33] iravid commented on #126
I saw it happen in production too, but unfortunately could not reproduce. I think this happens when rebalances are spread out across several polls and requests come in for revoked partitions. Not sure though how requests could get inserted into the state when the partitions are not currently assigned 🤷🏽‍♂️

I think this will do for now.

[2020-03-09 09:05] iravid opened #135 "Runloop ends prematurely"
As reported by egast on Discord, this application hangs and does nothing:
[code]

The problem appears to be that the runloop ends prematurely. Further investigation points at `ZManaged#fork`. Changing the `.unit.toManaged_.fork` in `Runloop.apply` to use this combinator, a modification of `ZManaged#fork` that uses `forkDaemon` solves the issue:
[code]

I will make a patch release soon and investig

[2020-03-09 09:21] iravid commented on #135
Changing the app's main to this (without any other changes) also appears to fix the issue:
[code]

[2020-03-09 15:36] #135 closed

[2020-03-10 19:24] svroonland commented on #106
Implemented in #128

[2020-03-10 19:24] #106 closed

[2020-04-07 17:03] politrons opened #147 "Evaluate Consumer"
I'm trying to follow your examples but I cannot figure how to evaluate the consumerProgram

Having this code, where the `consumerSettings` is provided by the Consumer factory
[code]

I dont know what Has Layer I need to pass as provider to the program

[2020-04-11 14:11] iravid opened #150 "Remove the semaphore guarding AdminClient"
As helpfully reported by @sderosiaux on Discord:
[code]

This means we can remove the Semaphore guarding the AdminClient against concurrent operations, simplifying the code.

[2020-04-18 11:16] mvillafuertem opened #155 "zio-kafka-testkit"
Hi @iravid , maybe a little module with test utils can be interesting, what do you think? especially embedded kafka or another version with kafka test container.

[2020-04-18 15:29] iravid commented on #155
@mvillafuertem Sure. What did you have in mind?

[2020-04-20 09:07] mvillafuertem commented on #155
Hi again @iravid, I am not a ZIO expert like you, but first I thought about starting to create another implementation with TestContainer and testing your current test with this implementation, then splitting all this code into another module like ZLayers and add asserts, utils to create topic, groupId, Kafka cluster.

[2020-04-21 06:23] egast opened #158 "Consumer doesn't work in version 0.8.0"
After upgrading zio-kafka to version 0.8.0, the consumer stopped working.
The following example should print the records but does nothing.
[code]

[2020-04-21 06:43] #158 closed

[2020-04-23 07:22] aleksandarskrbic commented on #150
@iravid I would like to take this one if no one working on it.

[2020-04-23 07:22] iravid commented on #150
@aleksandarskrbic All yours!

[2020-04-27 10:07] ragb commented on #150
is there any developments on this? I'm glad to help since I've been using AdminClient quite intensively.

[2020-04-27 10:11] #150 closed

[2020-04-27 10:11] iravid commented on #150
Should be fixed now - thanks for the reminder @ragb!

[2020-04-27 20:27] LGLO opened #162 "Injection of key and value serializers can be ambiguous"
When I have `Producer[R, A, A]` or `Consumer[R, A, A]` but I want to use different serializers for keys and values `ZLayer` will register only value serializer and will use it to serialize keys.

I propose to introduce a class that encapsulates key and value serializers and use with ZLayer.

[2020-04-28 12:26] LGLO opened #164 "Consider adding one stage produce methods"
`Producer#produce` and `Producer#produceChunk` are well documented about returning two stage `ZIO of Task`, however even README.md example falls into this pit.

I understand both reason for having lower level two-stage API and one-stage API as well.
See this discussion below: https://discordapp.com/channels/629491597070827530/629497941719121960/704617273557647370

Can we think about `def produceWi

[2020-04-28 13:46] iravid commented on #164
How about produceNow?

[2020-04-30 07:13] LGLO commented on #164
I was thinking about `produceNow` but I'm afraid that it would lead to some doubt about `produce`. Both produce "now". Difference is that `produce` is done when message is enqueued internally (blocking part is done) and `produceXXX` is done when ack is received.
`produceAcked`. I'm wondering if `produce` has right name. Maybe it should become `enqueue`?

Coding part of this issue is trivial. Namin

[2020-04-30 07:48] iravid commented on #164
So maybe `produceAsync` for the current version and `produce` for the `.flatten` version?

[2020-04-30 07:51] LGLO commented on #164
Ok, I'll prepare this today with updated docs.

[2020-05-03 09:55] LGLO commented on #164
Time passes so fast :joy:

[2020-05-03 11:27] iravid commented on #164
Closed in #165

[2020-05-03 11:27] #164 closed

[2020-05-18 08:52] egast opened #175 "Close consumer when it cannot connect the the broker"
Add option to close the consumer when it is unable to connect to the broker. This should be configurable i.e. after some timeout and/or after x amount of retries.

[2020-05-18 19:12] igrebenik opened #176 "Configure serializers/derserializers to be able to initialize Schema Registry"
This is a follow up of Discord's short discussion with @iravid.

Configure serializers/deserializers to be able to initialize Schema Registry when using KafkaAvroSerilizer/KafkaAcroDeserializer.

While testing my producer against Kafka with Schema Registry it breaks down with following error:
[code]

Basically,  Schema Registry hasn't gotten a chance to be initialized. In fact, it does that via me

[2020-06-05 16:48] #176 closed

[2020-06-08 11:16] mtjon opened #187 "Incompatibility with scala 2.13.1 due to @nowarn annotation"
zio-kafka uses the `@nowarn` annotation introduced in Scala 2.13.2, this causes incompatibility with Scala 2.13.1. I have not yet tested with Scala 2.12 or 2.11.

It was apparently added in the `0.10.0` release with [this](https://github.com/zio/zio-kafka/commit/56dae11fc1b78a1d2a61f713d50e97a213c1b371) commit by @egast

[2020-06-08 12:08] egast commented on #187
It was added to suppress the false positive _unused_ warning of a _T <:< AnyRef_ evidence. The _@nowarn_ annotation could also be replaced by the _@silent_ annotation from the silencer library, but this means that we add the silencer-lib dependency.
It is probably also possible to suppress the warning by adding a silencer expressions in build.sbt, but I'm not sure how maintainable this is.
Since t

[2020-06-08 12:18] mtjon commented on #187
I did upgrade to Scala 2.13.2 when I found out that `@nowarn` was feature introduced in 2.13.2. I also understand your preference of using a feature that's part of the standard Scala library. Certainly over the other options you mentioned.

I did think it was worth making an issue for, as I believe Scala 2.13.x is generally supported across the different ZIO projects. And @svroonland asked me to o

[2020-06-13 16:06] saraiva132 commented on #175
I would very much love to see this! It is extremely annoying to have a consumer hang when it cannot connect to a broker.

WDYT @iravid ?

[2020-06-13 16:09] saraiva132 commented on #155
I have my own test-kit based on the original utils in test. I extended with a couple more things useful for my own usages. Perhaps the answer would be to extend that and eventually when we are happy enough with the result and it is generic enough extract that to its own module?

[2020-06-14 12:10] svroonland commented on #175
As a workaround, have you considered a `.timeout` on the stream?

[2020-06-29 14:34] ragb commented on #33
This is something I may want to use so I'd like at least to take a look.

Kafka Exactly once delivery in kafka is based around transactions in the producer and isolation levels in the consumer, plus some coordination between them so offset committing is part of a transaction.

I'm not sure if one should just provide the base low level operations (beginTransaction, commitTransaction, etc.) and leav

[2020-06-29 14:40] iravid commented on #33
Your help would be greatly appreciated @ragb! I don’t have any particular opinion on how this should look like, currently. I’ll try to form one over the next few days.

[2020-07-02 10:06] ragb commented on #33
I've been researching this a bit more and here goes a very high level proposal which I believe might cover all needs and possible use cases:

1. In `zio.producer.Producer.Service` provide wrappers  around the producer transaction API: `initTransactions()`, `beginTransaction()`,  `abortTransaction()`, `commitTransaction()` and `sendOffsetsToTransaction(offsets, consumerGrouopId)`.
2. In a new zio.t

[2020-07-02 14:13] ragb commented on #33
reflecting a bit more (and while coding it:

) not sure if exposing begin / abort / commit transactions to the end user would be correct since one can't guarantee correctness on usage... A different approach could be providing a Managed object containing only the producer methods that make sense in a transaction context (e.g. send, sendOffsetsToTransaction, flush)... then commit the transaction on

[2020-07-03 19:09] svroonland commented on #33
Hi @ragb, Using `Managed` for transactions seems like the right tool for the job to me!

[2020-07-31 20:00] LukaszByczynski commented on #147
Layers are well documented here: https://zio.dev/docs/howto/howto_use_layers#updating-local-dependencies

In your case you shouldn't do anything. Put your code into normal ZIO app object like:

[code]

[2020-08-31 18:20] axaluss opened #212 "consuming without groupid"
i'd love to consume messages without group id.

Zio kafka does not seem to allow for that

[2020-09-10 08:51] svroonland commented on #212
Hi @axaluss, could you explain why you want to do that?

[2020-09-10 08:55] svroonland commented on #187
@nowarn was added to scala-collection-compat https://github.com/scala/scala-collection-compat/releases/tag/v2.1.6, which is part of our build.

Shouldn't zio-kafka work with 2.13.1 as well then?

[2020-09-11 22:00] axaluss commented on #212
There are use cases where you want to control the offset and partition assignment in the client. Then you don't need a group id at all.

[2020-09-24 10:14] svroonland commented on #147
Closing this issue since it has been 5 months now. If you need more help, feel free to ask on Discord

[2020-09-24 10:14] #147 closed

[2020-09-24 10:18] svroonland opened #217 "Support multiple streams with a shared consumer"
Sharing a single `KafkaConsumer` instance from the apache kafka library would be more efficient when consuming from multiple Kafka topics. Each instance allocates a thread pool and maintains connections with the Kafka brokers.

[2020-09-24 22:55] sken77 opened #218 "SOE after 20 minutes of running the app"
I have the following simple `zio.App` program

    val topic = kafkaConfig.userAccount.topic
    val registry =
      new CachedSchemaRegistryClient(kafkaConfig.schemaRegistry, 1)
    val params = Map(
      KafkaAvroDeserializerConfig.SPECIFIC_AVRO_READER_CONFIG -> "true",
      "schema.registry.url" -> kafkaConfig.schemaRegistry
    )
    val serde = new KafkaAvroDeserializer(registry, params.as

[2020-09-25 05:33] iravid commented on #218
Can you upgrade to ZIO 1.0.1?

[2020-09-25 17:32] sken77 commented on #218
I can, but im not depending on zio, im just adding the zio-kafka lib. should I also add that one?

[2020-09-25 17:34] svroonland commented on #218
@sken77 Yeah, you can add `"dev.zio" %% "zio-streams" % "1.0.1"` to your `libraryDependencies`.

[2020-09-25 22:06] sken77 commented on #218
that did it, thanks

[2020-09-25 22:06] #218 closed

[2020-09-27 14:45] shalastra opened #219 "List available topics on the connected bootstrap server"
It would a nice feature to allow list available topics from the connected server. Maybe as a part of `Subscription`?

[2020-09-27 16:12] svroonland commented on #219
@shalastra  Have you checked out `AdminClient.listTopics`?

[2020-09-27 16:19] shalastra commented on #219
No, I was only looking in `Consumer`, there is a `listTopics` method, however, it works for defined group.

[2020-09-27 18:14] svroonland commented on #175
@egast @saraiva132 Are you by any chance familiar which how to get connection status or something from the `org.apache.kafka.clients.consumer.Consumer` or some settings that control the behavior on connection timeout?

[2020-09-28 07:44] egast commented on #175
@svroonland I don't know if you can get the Kafka connection status from a KafkaConsumer. I think the connection retry behavior is done by the consumer client. I know that Akka Kafka Streams does offer the "close consumer if it cannot connect to Kafka", so I took a quick look at how they do it and from what I understand they just periodically try to get the topic metadata to see if Kafka is still

[2020-09-28 08:43] svroonland commented on #219
Understandibly. Let me know if AdminClient.listTopics works for you so we can close the issue.

[2020-09-28 09:40] svroonland commented on #217
Looked into alpakka-kafka a bit and apparently it only supports this feature for manual topic-partition assignments.

We could support a larger class of subscriptions, but I don't see how to for the ones for which the union of two `Subscription`s is not defined as below:

[code]

[2020-09-28 10:17] svroonland commented on #212
From the apache kafka docs:

[code]

So you should be able to consume without group ID by using manual partition assignment + manual/external offset retrieval:
 `Consumer.subscribe(Subscription.manual("my_topic" -> 1, "my_topic" -> 2))` + `OffsetRetrieval.Manual(getOffsets: Set[TopicPartition] => Task[Map[TopicPartition, Long]])`. See the zio-kafka [readme on this topic](https://github.com/zio/zio

[2020-09-28 10:34] svroonland commented on #217
More feasible would be to have users subscribe to the union of topics they are interested in manually. Then have an optional `subscription` parameter on `partitionedStream` that would act as a filter on the topic-partitions of interest. A remaining challenge is to distribute the messages to two or more streams and how to prevent double-committing of offsets if there is overlap in the subscriptions

[2020-09-28 13:07] #212 closed

[2020-10-12 12:24] svroonland opened #230 "Simplify names of option parameters in AdminClient"
Follow up from #201:

[2020-10-12 14:41] regispl commented on #230
I can take a look at it as a followup from my PR.

How much are we concerned with backwards compatibility for APIs like this? What's ZIO's approach to that (generally)?

Should we introduce a new optional parameter and mark the other one as "deprecated" for now with a plan to completely retire it later or is a simple "rename" just fine (with the understanding that clients will get broken, which me

[2020-10-12 14:47] svroonland commented on #230
That would be much welcome of course!

I suppose deprecation is the nice thing to do here, we can just `orElse` the `Option`s.

In general I would say that for `v < 1.0` there's a bit more room for breaking changes, after 1.0 it's generally appreciated that APIs don't have breaking changes. `zio` core has a binary compatibility check for this.

[2020-10-12 15:09] regispl commented on #230
Sure, makes perfect sense 👍

[2020-10-14 20:43] svroonland commented on #230
Implemented in #231

[2020-10-14 20:43] #230 closed

[2020-11-06 17:57] jsfwa opened #238 "Mysterious high cpu utilization over time with multiple topics subscription"
Hello, we were trying to migrate one of our services from alpakka to zio and discovered strange behavior
So we have couple topics with multiple partitions(about 2-3k rps per partition) and here is our simplified consumer:
[code]
After we run it, we got the next picture:
<img width="1707" alt="image" src="https://user-images.githubusercontent.com/7480075/98393794-d9f0ef00-206a-11eb-95b6-61c23903a24

[2020-11-06 22:59] iravid commented on #238
Thanks for opening the issue and providing the details. Will look into it this week.

[2020-11-16 10:19] jypma opened #241 "Error types should be modeled more strongly"
Right now, all zio-kafka effect types have `Throwable` as their error type, requiring users to look into the kafka API itself to find out what exceptions to expect.

An argument could be made to introduce concrete error types for the expected error scenarios, and use those instead of `Throwable`. This can have some clear advantages:

- We can show the difference between a stream that silently reco

[2020-11-17 14:06] svroonland commented on #241
I like this idea a lot, at the very least as an experiment to see how feasible this is and what would be a good approach. I've been considering doing the same for zio-kinesis.

Taking `def partitionedStream` as a starting point, which can fail with any `Throwable`, we'd have to look into the call hierarchy to see which exceptions we can expect. Methods that are called on `KafkaConsumer` as part of

[2020-11-17 14:29] jypma commented on #241
I like the approach of gradually building an ADT, including a catch-all-like type like `OtherError(x: KafkaException)`.

That way, we can start with a few known error-cases, and incrementally extend the error types with actual real-life cases that do occur. Subjectivity should be less of a factor that way, since the ADT hierarchy should be able to mirror the exception hierarchy.

We could model th

[2020-11-17 15:17] svroonland opened #242 "Internally handle commit failures when rebalancing"
Committing when rebalancing will throw a `RebalanceInProgressException`. We should at the least include this in `Offset.commitOrRetry` or just completely handle it internally. If users want to customize commit behavior when rebalancing is going on for some reason, they can still observe the rebalancing diagnostic events.

Coming from #241

[2020-12-11 20:06] cipriansofronia opened #256 "Enable snapshots"
It would be great if `zio-kafka` would have snapshots, this way we would not have to wait for a new release.

[2021-01-29 14:27] svroonland commented on #256
This is now enabled, see for example https://github.com/zio/zio-kafka/runs/1777201776?check_suite_focus=true

[2021-01-29 14:27] #256 closed

[2021-01-29 15:09] cipriansofronia commented on #256
That's great! Many thanks @svroonland !!

[2021-01-29 15:32] cipriansofronia commented on #256
@svroonland, how about adding a snapshots badge to the README page? This way other users can see that the snapshots are available.

[2021-01-29 16:36] svroonland commented on #256
Good idea, will do

[2021-02-10 08:53] ghostdogpr opened #280 "Rebalance causes some partition streams to be duplicated"
When a rebalance happens, there is a chance that some partitions that are revoked and immediately re-assigned to the same consumer get duplicated (all messages received twice in the consumer stream).

Here's how to reproduce the problem (my code is not open source):

First add those 2 println in `newPartitionStream` when a partition stream is created then ended:
[code]

1. Create a topic with 300

[2021-02-17 08:34] ghostdogpr commented on #280
Trying to describe my understanding of the problem in more details: there are 2 lists of `Runloop.Request`: one in `State` (`pendingRequests`) and one in `Runloop` (`requestQueue`). Each `Runloop.Request` corresponds to a topic-partition stream.

When a topic-partition is revoked:
- the requests in `pendingRequests` are cleaned up immediately by `endRevoked` and corresponding streams are stopped.

[2021-02-17 12:30] jypma opened #282 "Need ability to use consumer being created with OffsetRetrieval.Manual"
I want to start a consumer at externally-provided partition offsets (in this case, derived from a timestamp). To this end, I'm using `OffsetRetrieval.Manual`, which then in turns wants to call `Consumer.offsetsForTimes` to retrieve the individual partition offsets. However, since `OffsetRetrieval.Manual` is a simple `Set[TopicPartition] => Task[Map[TopicPartition, Long]]`, I can't make any Kafka c

[2021-02-18 07:54] ghostdogpr commented on #280
I'm having a hard time reproducing the issue consistently. I corrected the previous message to reflect that the gap during which `requestQueue` requests are reinjected to `pendingRequests` doesn't depend on the consuming speed and is pretty short.

Another case I suspect is when `records eq null` (which I guess happens when there are no items to pull), we don't revoke anything. If a partition is r

[2021-02-21 08:50] mohammadreza-esmailzadeh opened #283 "Docker container IP (172.x.x.x) is not visible for the kafka client"
It seems I can not see the docker ip from the zio client but it is visible from Kafka Conduktor client. It seems this problem is related to zio kafka client not the docker server.

[2021-03-07 08:23] guizmaii commented on #155
@saraiva132 Is it open-source? I'd love to see your work.

[2021-03-30 23:20] Wosin commented on #242
Happy to at least take a crack at this.

[2021-03-31 07:48] iravid commented on #280
Folks, sorry for the delay here. I've not been able to find the time to fix this, but I am writing down how this should be fixed because we will work on this soon:

- The problem is that at some point, the Runloop decides to start a new stream (emit a partition over the `partitionQueue`), even though there is already an existing stream for that partition.

### Diagnosis

- Currently we decide whic

[2021-03-31 07:53] iravid commented on #283
This appears to be out-of-scope for zio-kafka as it uses the standard JVM client.

[2021-03-31 07:53] #283 closed

[2021-03-31 07:54] iravid commented on #241
Big 👍 on this!

[2021-03-31 14:12] svroonland commented on #242
Much appreciated @Wosin!

However, I think I was too quick to create this issue though. This situation should not occur, since commits are not executed when rebalance is in progress. From `Runloop` lines 320:322.

[code]

[2021-04-09 12:15] aartigao commented on #282
I face the same limitation and I was thinking if adding more stuff to `AdminClient` can solve the issue 🤔

[2021-04-11 10:12] aartigao commented on #282
Actually I've been looking at `AdminClient` and I don't see a way to retrieve `offsetsForTimes`. Your initial suggestion seems the way to go 👍🏽

[2021-05-10 12:38] aartigao commented on #238
We see a similar pattern in our environments regarding CPU, but also regarding the lag between Kafka record and time were record actually reaches application code. Seems to be related with degradation over time described here (in our case we see that machines start to degrade after 2 days). @iravid do you know if there's a fix? I see that [#4476](https://github.com/zio/zio/pull/4476) is not merged

[2021-05-21 15:19] Dnomyar opened #315 "Parallelism by partition and record key"
Hey folks,

I am looking to implement a kafka consumer. My constraint is low latency. To achieve that, I need parallelism by partition **and key**.
I was looking at `ZStream#mapMPartitioned(_.key)` thats allows to have this parallelism while maintaining the ordering.

But, as mentioned in the documentation of  `mapMPartitioned`, messages are not emitted in order. Thus not committed in order. And h

[2021-06-02 13:27] aartigao commented on #280
Any updates on this? We've seen this behavior in our service too.

[2021-06-03 08:12] aartigao commented on #280
Anyway, this is critical for our company, I'm working on implementing Itamar's fix instructions. Maybe will need help with the testing part, but this can be discussed in the future PR.

[2021-06-04 18:01] svroonland commented on #242
Closing this, as explained above I'm pretty sure I falsely considered this to be an issue.

[2021-06-04 18:01] #242 closed

[2021-06-05 08:45] svroonland commented on #315
Hi @Dnomyar

You are right that this jumping around of offsets is not to be desired.

To ensure sequential commit offsets in this situation, you would have to make something like this after the `mapMPartitioned` stage:
* track a list of the offsets you see emitted
* emit the highest offset and clear the list when you have seen a sequence of offsets without gaps

One solution I can think of would c

[2021-06-05 08:47] #280 closed

[2021-06-05 08:50] #219 closed

[2021-06-05 08:50] svroonland commented on #217
`ZHub` will be of help there.

[2021-06-05 08:56] svroonland commented on #187
Since the issue is open for a year now, I haven't seen other reports of this and I'm not sure what to do otherwise:

I think with scala-collection-compat 2.1.6 there should be no problem. If not, we're now at scala 2.13.6, so likely most users have upgraded to 2.13.2 or higher. Feel free to re-open if there is still an issue caused by this.

[2021-06-05 08:56] #187 closed

[2021-06-05 12:56] svroonland commented on #282
Sounds good. Gave it a whack, but it's a bit of dependency fiddling to get a `Consumer.Service` in the `Runloop`.

[2021-06-05 17:31] ithinkicancode commented on #282
https://github.com/zio/zio-kafka/pull/329

[2021-06-07 09:20] aartigao commented on #238
@jsfwa do you know how all the stuff and your investigation ended? did [#4490](https://github.com/zio/zio/pull/4490) fix the problem?

[2021-06-08 09:17] Dnomyar commented on #315
Hi @svroonland,

Thanks for your answer!

That's kinda the idea I had in mind. I was a bit reluctant to implement that because it brings some more complexity. It does seems like a nice little exercise though.

As you suggested, **increasing the number of partitions seems to be a good alternative**. We ended up doing that.

[2021-06-08 09:17] #315 closed

[2021-06-09 08:46] svroonland commented on #282
@aartigao Unless I'm mistaken, #330 does not support the use case of getting `offsetsForTimes` right? So this issue can remain open?

[2021-06-09 08:52] #282 closed

[2021-06-09 10:05] svroonland commented on #162
Note to future self: this now only applies to  `Producer[R, K, V]`. `Consumer`'s `Deserializer`s are currently passed as regular parameters.

Also causes some issues on Scala 3: #317

[2021-08-11 14:23] svroonland commented on #162
This is fixed with #331

[2021-08-11 14:23] #162 closed

[2021-08-17 01:03] allenjhan opened #347 "Is there a compatibility issue with KafkaProducer having only types Array[Byte] for both key and value?"
Hi there,

We are currently planning on using zio-kafka at Capital One and are working with Ziverge to integrate it into our stack.

We have some existing code written with monix-kafka and want to port it over to use zio-kafka. We are worried about a backwards compatibility issue since our existing code uses a KafkaProducer that has a type signature of [String, Array[Byte]]. This is not the mandat

[2021-08-17 01:38] adamgfraser commented on #347
@allenjhan I don't think there is any issue here as when we produce we also provide a `Serde` that specifies how to serialize and deserialize values of a given type so we can simply use a `Serde.string` to serialize string keys when we produce.

[2021-08-17 03:36] allenjhan commented on #347
I tried reading some code in the zio.kafka.Producer to contextualize your response but still wasn't really able to understand the point you are making. I guess we can discuss this tomorrow during the code review for my PR. For now, it's ok I guess to close this issue then.

[2021-08-17 03:36] #347 closed

[2021-08-17 03:41] adamgfraser commented on #347
Sounds good. We can definitely go through it tomorrow.

[2021-08-21 14:42] gurghet commented on #33
I'd like to pick this up and `Managed` seems a good idea among the one I could think about but the thing is that we can only have one transaction at a time. Furthermore I don't think it's possible to interleave a transaction with messages outside of it.
For this reason I'm working on a simplified API like the following
[code]
Let me know your thoughts.

[2021-09-30 14:03] #33 closed

[2021-10-18 15:50] mbaechler opened #375 "It's no longer possible to consume a topic manually"
When adding transaction support, zio-kafka lost the ability to consume a topic manually.

It's a use-case we use a lot at conduktor (the company I work for).

To be specific, the problem comes from https://github.com/zio/zio-kafka/commit/c9f2952345d9fb0d9fff82083bbc5fdbfffc64e9#diff-4bb68de9081869e01fdb038a48581bb121471b3de1ddad2cf0e834e4e3e356fdR184 where we query the `groupMetadata` of the consu

[2021-10-18 21:04] swoogles opened #377 "Upgrade to ZIO 2.0"
ZIO is at Milestone 4, with an RC expected in the next few weeks.
https://github.com/zio/zio/releases/tag/v2.0.0-M4

The API is nearly stable at this point, so any early migration work against this version should pay off towards the official 2.0 release.

The progress is being tracked here:
zio/zio#5470

The Stream Encoding work in progress is the only area where the API might still change before

[2021-10-19 14:08] #375 closed, assigned to nobody

[2021-11-12 02:57] counter2015 opened #386 "Subscription topics should receive argument list."
For example.

[code]

It is becasause argument https://github.com/zio/zio-kafka/blob/d9aed5f6a17d98d1320fdeec0758a2a55e378fda/src/main/scala/zio/kafka/consumer/Subscription.scala#L16-L25

Will that be better like this ?

[code]

[2021-12-09 19:26] DiegoTavares opened #389 "Changes on Producer didn't make it to the README"
#331 changed the signature of make from:

[code]

to:

[code]

but the documentation on README hasn't been updated to reflect the changes:

[code]

[2021-12-09 19:27] DiegoTavares commented on #389
I volunteer to fix it.

[2021-12-10 19:21] Tomczik76 opened #392 "No error on consumer timeout"
I'm getting these errors in my logs when subscribing to a 40 partitions.

[code]

The streams seem to just hang and no error was raised. When I reduced the number of partitions I'm subscribing to the errors go away and everything seems to work fine. I also resolved this issue by adding these configs to my consumer.

[code]

I would expect that an error is raised in this case.

[2022-01-06 19:07] #389 closed

[2022-01-17 17:10] susliko opened #413 "Proper commits during cooperative rebalances"
## Current commit logic
It is [assumed](https://github.com/zio/zio-kafka/blob/68977a1b93f3b249e28b9ecac8cae3dee457c787/src/main/scala/zio/kafka/consumer/internal/Runloop.scala#L61-L62) that a rebalance is started whenever the `onPartitionsRevoked` method is called and is finished whenever the `onPartitionsAssigned` method is called. [Afterwards](https://github.com/zio/zio-kafka/blob/68977a1b93f3b2

[2022-01-24 18:57] svroonland opened #418 "Scala case classes for all parameters to AdminClient methods"
Many of the methods of `AdminClient` have a case class that mimics the Java variant of parameters, but there are some that use the apache kafka java classes directly. It would be nice to have case classes for all of them.

[2022-02-09 12:41] svroonland opened #428 "Throughput issue"
Reported by `krille` on the [zio-kafka Discord](https://discordapp.com/channels/629491597070827530/629497941719121960/940169418615431182):

[code]

[2022-02-09 12:44] svroonland commented on #428
The issue disappears when commenting this line: https://github.com/zio/zio-kafka/pull/429/files#diff-4bb68de9081869e01fdb038a48581bb121471b3de1ddad2cf0e834e4e3e356fdR250
`c.pause(toPause.java)`, so this looks like it has something to with pausing of partitions.

[2022-02-09 13:06] svroonland commented on #428
@iravid What do you make of this? Could this be some sort of race condition between the processing of a chunk of records and a new 'pull' for records on that partition, causing one or more partitions to be paused?

[2022-02-13 09:20] svroonland commented on #428
After experimenting a bit, some notes about current polling behavior and the effect of various settings.

* When a consumer is started, several `poll` calls are made to the broker as part of joining the consumer group, to gather topic metadata and join the consumer group. These calls are performed according to the configured `pollInterval`. A high `pollInterval` value will therefore result in a lo

[2022-02-13 09:40] iravid commented on #428
Sorry, I’ve not had time yet to read this thread. But I have some ideas on how to improve the handling of commits - @svroonland will try to catch up with you on Discord this week
On 13 Feb 2022, 9:20 +0000, svroonland ***@***.***>, wrote:

[2022-03-05 11:21] #377 closed

[2022-03-06 08:26] #418 closed

[2022-03-06 10:36] svroonland commented on #413
@susliko Thanks for bringing up this issue. I think what you're proposing should be relatively easy to implement.

Also, `onPartitionsLost` was implemented as part of #427 recently and available in v0.17.5.

[2022-03-08 18:26] svroonland commented on #413
@susliko Would you be able to describe how to reproduce this situation? Like broker settings and a series of steps

[2022-03-08 18:33] susliko commented on #413
@svroonland
Sure!
I'll try to get to it in a few days

[2022-03-11 09:55] susliko commented on #413
@svroonland
Wrote a [test](https://github.com/susliko/zio-kafka/commit/896dd5b75be4f7830af190ac9ba7e7c6949464d7), which reproduces the `RebalanceInProgressTest`

[2022-03-12 09:26] svroonland commented on #413
That's great, thanks!

I found that my proposed fix (#437) doesn't work, I'll need to try something different though.

[2022-03-29 11:14] GiGurra opened #447 "100% cpu usage when using Consumer.consumeWith"
After discussion on the zio slack with `svroonland#7332` we concluded to open an issue here.
The original question/report follows below:

Hi, we are experiencing some very high cpu usage numbers (> 1 cpu core for every started consumer) for what we believe are some basic use cases of zio-kafka.

The issues started when we tried upgrading to zio2 compatible M1 and M2 releases (same issue in both).

[2022-03-30 08:53] GiGurra commented on #447
Using the `settings.pollInterval` here is probably wrong, but you can probably decide on what is right. I ended up changing the parameter to aggregateAsyncWithin to hard coded 10 seconds instead. I have no idea what kind of side effects this might have ;)

[2022-04-02 16:44] googley42 commented on #447
I am not a zio-kafka user but I [reported this bug with `agregateAsync` in RC2](https://github.com/zio/zio/issues/6395) and may be related to your problem - it got fixed I think in for RC3

[2022-04-02 16:53] GiGurra commented on #447
The problem in zio-kafka is there also in RC3, so unfortunately that doesnt fix it

[2022-04-08 17:45] newffy opened #452 "Access to underlying kafka Consumer/Producer"
Sometimes it would be great to have ability to configure underlying consumer/producer directly.
Right now it can be configured via settings, but sometimes you need access to original object.
Probably it can be done in the same way as it's implemented in `alpakka kafka` project, via smth like
`ProducerSettings.withProducerFactory` or `ProducerSettings.withProducer`

[2022-04-30 17:30] adamgfraser commented on #447
I recently did a fix to the implementation of `aggregateAsyncWithin` so may be good to test on the next ZIO 2 release candidate when available.

[2022-05-01 18:45] GiGurra commented on #447
Unfortunately the problem remains in RC5 (zio-kafka 2.0.0-M3)

[2022-05-01 18:47] adamgfraser commented on #447
This was subsequent to `RC5`.

[2022-05-01 18:49] GiGurra commented on #447
Is there a snapshot repo & release I can depend on to see if your newer version works?

[2022-05-01 18:49] GiGurra commented on #447
Is there a snapshot repo & release I can depend on to see if your newer version works?

[2022-05-01 18:50] adamgfraser commented on #447
The latest ZIO snapshot.

[2022-05-02 06:36] johan-kjolhede-rocker commented on #447
How do I depend on that? Is there an instruction somewhere?

[2022-05-09 11:19] johan-kjolhede-rocker commented on #447
@adamgfraser unfortunately it doesnt seem like zio-kafka has any release compatible with later zio2 (e.g. rc6), or I am missing something? I end up with class/method missing errors.

[2022-05-09 18:29] GiGurra commented on #447
Oh, heh, sorry. I realize now that I logged in as a different user. The one above :S . sorry about that @adamgfraser , but yeah, that above was also from me

[2022-05-09 19:09] svroonland commented on #447
@GiGurra There is #464 which is work in progress

[2022-05-23 11:13] vigoo opened #469 "Data loss in restartStreamsOnRebalancing mode"
I added the `restartStreamsOnRebalancing` mode a few months ago to support the use case of transactional producers, in this PR:
https://github.com/zio/zio-kafka/pull/427

We were running this in production since it got merged and noticed and investigated an issue regarding some of the records got lost from the consumer stream during rebalances.

The reason is that there maybe buffered records in `

[2022-05-24 18:09] svroonland commented on #469
The solution that does not involve adding records to onRevoked sounds preferable to me as well

[2022-06-27 11:58] mhodovaniuk opened #476 "Add helper method for SSL authentication"
FS2 has [withCredentials](https://github.com/fd4s/fs2-kafka/blob/series/2.x/modules/core/src/main/scala/fs2/kafka/ConsumerSettings.scala#L404) helper method for SSL authentication. It would be nice to have something similar in zio-kafka, since SSL authentication is quite popular.

[2022-06-30 12:14] vigoo opened #479 "Fix flaky restartStreamsOnRebalancing test"

[2022-07-07 14:35] mhodovaniuk commented on #479
Hi @vigoo
By any chance do you have an idea what is wrong with it? I would like to fix it.
E.g. it failed [here](https://github.com/zio/zio-kafka/runs/7175551877?check_suite_focus=true#step:5:403) . And I am not sure how it happens that we consumed 30 items from 0 partition.

[2022-07-07 15:39] vigoo commented on #479
No I didn’t have a chance to look into it yet

[2022-07-12 15:13] myazinn opened #485 "Possible memory leak during ZStream consumption"
Here's a repository that contains a reproduction code.
https://github.com/myazinn/zio-kafka-bug-demo
Unfortunately, I couldn't minimise it more and had to use embedded Kafka for reproduction.

This repo contains 2 branches: `main` with ZIO 2 implementation and `zio-1` with ZIO 1 implementation (see details below).

In this example, I just add a lot of messages to Kafka (~1 million) and then read t

[2022-07-13 08:02] adwells-ds commented on #485
Additionally checked with standalone kafka and older versions (down to 2.0.0-M1). The issue persists for all 2.x versions.
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/87975016/178682595-3e86eb06-e9fe-496b-b691-325f0aea5026.png">

[2022-07-13 08:28] guizmaii commented on #485
Is this happening with `zio1` version? 🤔

[2022-07-13 09:21] myazinn commented on #485
@guizmaii nope, latest `zio-kafka` with `zio1` version (`0.17.5`) works fine
https://github.com/myazinn/zio-kafka-bug-demo/tree/zio-1

[2022-07-13 09:53] vigoo commented on #485
I will try to take a look later this week

[2022-07-13 10:32] narma commented on #485
I looked at diff v0.17.5 (unaffected, latest on zio-1) ... v2.0.0-M1 (first on zio-2) and it only contains migrations, nothing significant has been added, changed or deleted. This sounds like an issue with zio2.

[2022-07-13 10:40] vigoo commented on #485
Yes it's very likely a bug in the new zio streams implementation.

[2022-08-05 17:25] guizmaii opened #492 "Why are all the low-level (Java) Kafka AdminClient calls wrapped in `effectBlocking`?"
AFAIK, and seeing that the Kafka AdminClient is using Java Futures (`KafkaFuture` implementing `java.util.concurrent.Future` and being based on `CompletionStage` since Kafka 3.1 or 3.2), why are all the calls made with this client wrapped in a `effectBlocking`?

Random example took from the code of zio-kafka:
[code]

[2022-08-05 17:28] guizmaii commented on #492
Because of this `synchronized`:
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/1193670/183129899-98ea94b6-e4dc-4717-b50d-7224cf475c53.png">
??

[2022-08-20 22:45] guizmaii commented on #485
Should be fixed in the new 2.0.1 release, no? 🤔

[2022-08-22 12:45] vigoo commented on #479
I think I fixed it in #498

[2022-08-23 08:36] 987Nabil commented on #485
I updated to ZIO `2.0.1` and the leak persists. I don't think it's fixed.

[2022-08-23 12:52] 987Nabil commented on #485
I came up with a temp fix in our applications like this

[code]

**But be careful!**
This kills the `consumerEffect` maybe at a time it should not be killed. If you are not idempotent you might want to think about using `ZIO#uninterruptible` to define when not to kill the effect.

[2022-08-25 15:05] erikvanoosten commented on #485
I am analyzing a memory dump of a process that went OOM, probably because of this issue. We see that most of the heap is used by instances of `org.apache.kafka.clients.consumer.internals.Fetcher$CompletedFetch`. These objects are used by the Kafka consumer and contain the consumed messages from Kafka.

We did many experiments and saw the following:
* When handling messages in a straight stream (e.

[2022-08-25 15:28] adamgfraser commented on #485
We are working on this!

[2022-08-26 07:31] erikvanoosten commented on #485
@adamgfraser I tried our application with a snapshot of ZIO at commit https://github.com/zio/zio/commit/813a8313f64861f43199daf75b018ec23ec41b1e which is the merge commit of PR https://github.com/zio/zio/pull/7256. Other Zio jars were kept at 2.0.1.

Our application now only needs 32 seconds to create an OOM. Strangly enough, the heap had only grown to 640Mb yet while the max is set to 4Gb. The ap

[2022-08-26 09:31] ya-goodfella commented on #485
This sounds a bit vague. Can you please elaborate which jars you have updated and why you don't keep versions of zio artifacts synchronized?

By the way, last Adam's fix affected both `zio` and `zio-streams`.

[2022-08-26 09:52] erikvanoosten commented on #485
I build a snapshot for `"dev.zio" %% "zio"`. The 'other' zio jars are `"dev.zio" %% "zio-internal-macros"` and `"dev.zio" %% "zio-stacktracer"`.

I was under the impression that zio-streams is completely bundled up in `"dev.zio" %% "zio"`. Is that not the case?

[2022-08-26 09:53] erikvanoosten commented on #485
Oops, that is not the case. Okay, back to testing...

[2022-08-26 10:03] ya-goodfella commented on #485
Personally, I would recommend to use snapshot versions published on Sonatype and keep versions synchronized as much as possible.

[2022-08-26 10:13] erikvanoosten commented on #485
Thanks for the tip, I didn't know those are available.

[2022-08-27 01:55] xelax opened #501 "stream setup fails without generating error messages"
The following program, which tries to open a non-existent kafka server,
fails without producing an error message:
[code]

when run it just writes:
[code]

this is using dependency
[code]

[2022-08-27 05:08] adamgfraser commented on #501
@xelax You need to delete `exitCode` there. The conversion of the result of running your application to an `ExitCode` is already handled by `ZIOAppDefault`. By calling this operator yourself you are converting the success or failure to a single exit code and throwing away all additional information about the error that occurred.

[2022-08-27 05:18] xelax commented on #501
I see. Thanks: you are right. when I remove i can finally see the errors. I was taking https://github.com/zio/zio-kafka/blob/master/src/test/scala/zio/kafka/Benchmarks.scala#L76 as an example to write my own app because I did not find a whole worked out example in the README, and I did not understand the implications of  `exitcode`

[2022-08-27 05:20] xelax commented on #501
I think it would help to have a whole example app with the main method and all: I am starting with zio-kafka directly instead of first learning zio, so having a good working example is critical

[2022-08-27 05:20] xelax commented on #501
Thank you so very much for being so helpful and responsive!

[2022-08-27 05:20] #501 closed

[2022-08-27 05:26] adamgfraser commented on #501
@xelax No worries! I just submitted a PR to update those benchmarks to not use `exitCode`.

[2022-08-27 05:28] adamgfraser commented on #501
And totally agree with you about the example. Can you look at the one here and see if it is what you are looking for?

[2022-08-27 05:42] xelax commented on #501
where?

[2022-08-27 05:51] adamgfraser commented on #501
Sorry, forgot to include the link.

https://zio.dev/resources/ecosystem/officials/zio-kafka

[2022-08-27 06:15] xelax commented on #501
it is good, but I'd like a simpler example as well with just a consumer: i think that would be the more typical beginner example , since normally you have some topic you would like to read from. Also an example of how you wrap an avro decoder in a Serde:

[2022-08-27 12:03] adamgfraser commented on #501
Good feedback.

@khajavi See above.

[2022-08-27 17:16] khajavi commented on #501
@xelax
Thank you for the feedback. Will try to add a simpler one.

[2022-08-29 14:19] erikvanoosten commented on #485
I tried again this morning with ZIO 2.0.2 and we see a huge memory usage improvement. It now runs fine when consuming 2 topics. However, with 3000 topics our zio-kafka application still goes OOM quite quickly.

[2022-08-29 14:21] adamgfraser commented on #485
Okay, well that's something. Can you create a minimized reproducer? Since multiple other users reported this fix working for them your problem may be different than the original issue.

[2022-08-29 14:46] erikvanoosten commented on #485
Since our problem seems to depend on the number of topics, I am not sure how to approach this. I'll keep it in mind though, any help to solve this is appreciated :)

[2022-08-29 14:56] adwells-ds commented on #485
Can you share the setup, with the default settings(i.e. 2 prefetch polls and 500 records batch) and all active topics/partitions you will have at least 3\*500\*3000(4.5kk) records per time, plus the gc will need time to cleanup all those records, so it could lead to 100's kk of records sitting in memory for intensive workloads

Also if you have single partition per topic and using the default part

[2022-08-29 15:17] erikvanoosten commented on #485
Thanks @adwells-ds . I was suspecting something like that. We are indeed using the default settings. After increasing the heap from 4Gib to 20Gib we can easily handle 500 topics so that cofirms your comment. 3000 topics is still too much (didn't check between those yet).

Can we somehow limit zio-kafka from pre-fetching so much data? I guess we could lower the number of prefetch polls to 1 (or to

[2022-08-29 15:28] erikvanoosten commented on #485
Anyways, it seems my problem is not related to this issue. I propose that this issue is closed.

[2022-08-29 15:44] adwells-ds commented on #485
if you reduce the prefetch to 0, it would mean, that you just have to wait for the network I/O to load new batch(for local network should be fine - assuming network latency < 1ms), also you always can reduce the batch size, it will put a bit more pressure on kafka nodes and network, but should reduce the memory consumption

[2022-08-29 15:52] adamgfraser commented on #485
Going to close this as multiple users have reported that this been resolved for them and it appears that any remaining issues are unrelated. However, there is definitely significant complexity here between ZIO, ZIO Stream, and ZIO Kafka so if anyone does have another problem with excessive memory consumption feel free to open a new issue.

[2022-08-29 15:52] #485 closed

[2022-08-30 08:35] aartigao opened #503 "Wild console prints since v0.17.6"
The following `ZIO.debug` statements were added with last release:

https://github.com/zio/zio-kafka/blob/352472211f36b1d5e4656a73a052b203a3a9a6ed/src/main/scala/zio/kafka/consumer/internal/Runloop.scala#L60

https://github.com/zio/zio-kafka/blob/352472211f36b1d5e4656a73a052b203a3a9a6ed/src/main/scala/zio/kafka/consumer/internal/Runloop.scala#L73

https://github.com/zio/zio-kafka/blob/352472211f36

[2022-08-30 08:49] vigoo commented on #503
Yes that was me, sorry ;) Will do a new release today

[2022-08-30 08:55] erikvanoosten commented on #485
For those that are curious about our OOM problems: we accidentally had Kafka settings that are meant for consuming over the internet (higher `fetch.min.bytes` and `max.partition.fetch.bytes`). After reverting these to the defaults, and using `ConsumerSettings(...).withPerPartitionChunkPrefetch(-1)`, memory usage stayed below 5GiB while consuming from almost 3000 topics. The fixes from ZIO 2.0.2 ar

[2022-08-30 08:56] adamgfraser commented on #485
Great news! Thanks for the update!

[2022-08-30 09:29] vigoo commented on #503
https://github.com/zio/zio-kafka/releases/tag/v0.17.7

[2022-09-12 14:31] erikvanoosten opened #510 "Many instances lead to consumer poll timeout has expired"
When we start a huge number of zio-kafka instances, some of these instances do not get any partitions assigned. These instances quite quickly log the following message:

[code]

We are not sure these 2 facts are related.

[2022-09-23 19:27] #476 closed

[2022-09-24 11:06] tewecske commented on #61
Now there is a place for test utils :)

[2022-09-24 11:07] tewecske commented on #155
Now there is a test utils module. :)
If you need more stuff in it open a ticket, or add to this one maybe.

[2022-09-24 12:15] #503 closed

[2022-09-26 12:37] #413 closed

[2022-10-05 06:52] imRentable opened #515 "Consumer stream does not recover from its consumer leaving the group"
Since `2.0.1` a consumer stream does not seem to recover when its underlying Kafka consumer leaves its consumer group. In `2.0.0` a consumer stream simply continues when its consumers rejoins the corresponding consumer group.

In this case the term "consumer stream" refers to a sub-stream of `zio.kafka.consumer.SubscribedConsumerFromEnvironment#partitionedStream`.

How this has been tested:

1. St

[2022-10-05 07:15] imRentable commented on #515
[This one](https://github.com/zio/zio-kafka/pull/498) looks suspicious.

[2022-10-12 08:54] svroonland commented on #510
Are you starting these instances within the same JVM? Each zio-kafka Consumer instance is backed by an Apache Kafka instance which comes with a thread pool. A large number may lead to issues. If the instances are running on separate JVMs, it's possible that the broker is overloaded and requests time out.

#517 may be of interest to you.

[2022-10-12 08:55] svroonland commented on #447
@GiGurra Are you still experiencing this issue with the latest ZIO-2 compatible zio-kafka release?

[2022-10-12 09:38] GiGurra commented on #447
I believe it is no longer an issue. We have removed our workaround and still have normal cpu usage

[2022-10-12 09:53] #447 closed

[2022-10-18 10:27] aleksandr-vin opened #525 "Getting Started has outdated Producer.make call"
In `ZLayer.scoped(Producer.make(producerSettings, Serde.int, Serde.string))` is outdated due to `make` supporting only one arg now.

[2022-11-07 04:03] lukestephenson opened #531 "Producer.produceAsync performance"
I was making use of `produceAsync` in combination with `ZIO.foreach` to achieve batching / sending multiple records in parallel.

While I was expecting this to be slightly slower than the `produceChunkAsync` API, the order of magnitude of which it is slower was not.

For my experiment, I was trying to publish 1 million messages to Kafka (just a single broker / local docker). The timings I saw were

[2022-11-22 20:34] svroonland commented on #531
Thanks for your feedback @lukestephenson.

I'd say dropping the `attemptBlocking` should be safe, since `send` should not block like you mention. The `attemptBlocking` around most of the Consumer/Producer calls was likely added as a 'better safe than sorry', since it's hard to know if the implementation would block or not. Should it happen to block in some specific situation anyway, we can still r

[2022-11-22 20:40] guizmaii commented on #531
@svroonland FYI, I was asking questions on this blocking subject here: https://github.com/zio/zio-kafka/issues/492

[2022-11-22 20:45] svroonland commented on #531
@guizmaii Ah that `synchronized` is a good example of why it's better to be safe than sorry when interacting with possibly blocking Java libraries. ZIO 2's auto blocking detection changes things a bit, I think we can rely on that a bit more for performance critical pieces like here with the Producer.

[2022-11-22 20:46] svroonland commented on #531
@adamgfraser Perhaps you could comment on the performance of `attemptBlocking`?

[2022-11-22 21:10] svroonland commented on #531
@lukestephenson Ran your benchmark, below are results before and after removing attemptBlocking

Before:
[code]

After:
[code]

[2022-11-22 22:36] lukestephenson commented on #531
Thanks for looking into this. Those results are similar to what we saw when removing `attemptBlocking`

[2022-11-24 00:10] lukestephenson commented on #531
I took a further look into performance after switching to `attemptBlocking` as I was still finding that the zio-kafka performance was almost double what I would see with my Monix implementation.

It appears to be related to the performance of the promise implementation. Both the ZIO kafka and monix implementation rely on a Promise like contract (different implementations) to signal when the work h

[2022-11-24 08:50] guizmaii commented on #531
I think @adamgfraser would want to see these Promise performances comparaison

[2022-11-24 14:36] guizmaii commented on #531
FYI https://github.com/zio/zio/pull/7557

[2022-11-25 09:54] guizmaii commented on #531
@lukestephenson Could you maybe re-run your perfs tests with this version of ZIO: `2.0.4+19-064d1cd7-SNAPSHOT`, please?

To use a snapshot release you need to do this, in your `build.sbt`:
[code]

This is the version released with the Promise optimisation fix I mentioned previously (https://github.com/zio/zio-kafka/issues/531#issuecomment-1326535029)

[2022-11-27 22:11] lukestephenson commented on #531
The promise performance on `2.0.4+19-064d1cd7-SNAPSHOT` is looking a lot better.  Locally it's down from 3100ms to 1100ms.

The kafka performance test has seen a similar reduction in time with the improvements to promise.  So with the improvements to promise and removing the use of `attemptBlocking`, kafka publishing time is down from 23 seconds to about 4 seconds.